<!DOCTYPE html>

<html>
<head>
	<link href="/css/application.css" rel="stylesheet" type="text/css">
	<title>Motivational Posters</title>
	<script type="text/javascript" src="https://www.google.com/jsapi"></script>
	<script src="http://code.jquery.com/jquery-2.0.3.min.js"></script>
	<script src="/javascript/support.js"></script>
	<script src="/javascript/application.js"></script>
	<link href='http://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'>
</head>

<body>
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_GB/sdk.js#xfbml=1&appId=1444231652517623&version=v2.0";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
	<header>
	<h1><small>(de)</small>Motivational Posters</h1>
	</header>

	<section id="select-image">
		<h2>Step 1. Select an image</h2>
		<p>Enter the keyword to search for images.</p>
			<input id="search-term" type="text">
			<button id="go-search">Go!</button>
			<div id="search-results"></div>
			<div id="branding"></div>
	</section>

	<section id="add-text">
		<h2>Step 2. Add text</h2>
		<input id="text" type="text" value="Not everyone gets to be an astronaut when they grow up">
	</section>

	<section id="style-image">
		<h2>Step 3. Style it!</h2>
		<div id="workspace">
			<p id="caption"></p>
		</div>
		<div id="controls">
			Left: <input type="number" value="10" id="left">
			Top: <input type="number" value="10" id="top">
			Width: <input type="number" value="400" id="width">
			Size: <input type="number" value="32" id="size">
			Font weight: <select id="font-weight">
				<option>normal</option>
				<option>bold</option>
			</select>
			Colour: <select id="colour">
				<option>limegreen</option>
				<option>royalblue</option>
				<option>salmon</option>
				<option>sandybrown</option>
				<option>seagreen</option>
				<option>magenta</option>
				<option>maroon</option>
				<option>mediumaquamarine</option>
				<option>mediumblue</option>
				<option>mediumorchid</option>
				<option>mediumpurple</option>
				<option>midnightblue</option>
				<option>moccasin</option>
				<option>navajowhite</option>
				<option>navy</option>
				<option>steelblue</option>
				<option>tan</option>
				<option>thistle</option>
				<option>tomato</option>
				<option>turquoise</option>
				</select>
			Align: <select id="align">
				<option>left</option>
				<option>center}</option>
				<option>right</option>
				</select>
		</div>
		<div id="twitter"><a href="https://twitter.com/share" class="twitter-share-button" data-via="henryaj">Tweet</a>
		<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
	</div>
	</section>

	<footer>
		<a href="http://www.makersacademy.com/"><img src="http://www.makersacademy.com/images/logo.png"></a>
		<div>
		<a href="http://www.henrystanley.com/">Henry Stanley</a> built this page on his first day at <a href="http://www.makersacademy.com">Makers Academy</a>.
		</div>
		<div>This page uses <a href="http://images.google.com">Google Image search</a>, <a href="http://ruby-lang.org">Ruby</a>, <a href="http://sinatrarb.com">Sinatra</a>, <a href="https://en.wikipedia.org/wiki/JavaScript">Javascript</a>, <a href="http://jquery.com">jQuery</a>, <a href="http://w3.org/html">HTML</a> and <a href="http://www.w3.org/Style/CSS/">CSS</a>.
		</div>
	</footer>
</body>

</html>
