<!DOCTYPE html>

<html>
<head>
	<link href="/css/application.css" rel="stylesheet" type="text/css">
	<title>Motivational Posters</title>
	<script type="text/javascript" src="https://www.google.com/jsapi"></script>
	<script src="http://code.jquery.com/jquery-2.0.3.min.js"></script>
	<script src="/javascript/support.js"></script>
	<script src="/javascript/application.js"></script>
	<link href='http://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'>
</head>

<body>
	<header>
	<h1>Motivational Posters</h1>
	</header>

	<section id="select-image">
		<h2>Step 1. Select an image</h2>
		<p>Enter the keyword to search for images.</p>
			<input id="search-term" type="text">
			<button id="go-search">Go!</button>
			<div id="search-results"></div>
			<div id="branding"></div>
	</section>

	<section id="add-text">
		<h2>Step 2. Add text</h2>
		<input id="text" type="text" value="Not everyone gets to be an astronaut when they grow up">
	</section>

	<section id="style-image">
		<h2>Step 3. Style it!</h2>
		<div id="workspace">
			<p id="caption"></p>
		</div>
		<div id="controls">
			Left: <input type="number" value="10" id="left">
			Top: <input type="number" value="10" id="top">
			Width: <input type="number" value="400" id="width">
			Size: <input type="number" value="32" id="size">
			Colour: <select id="colour">
				<option>limegreen</option>
				<option>rown</option>
				<option>rosybrown1</option>
				<option>rosybrown2</option>
				<option>rosybrown3</option>
				<option>rosybrown4</option>
				<option>royalblue</option>
				<option>royalblue1</option>
				<option>royalblue2</option>
				<option>royalblue3</option>
				<option>royalblue4</option>
				<option>saddlebrown</option>
				<option>salmon</option>
				<option>salmon1</option>
				<option>salmon2</option>
				<option>salmon3</option>
				<option>salmon4</option>
				<option>sandybrown</option>
				<option>seagreen</option>
				<option>seagreen1</option>
				<option>seagreen2</option>
				<option>seagreen3</option>
				<option>seagreen4</option>
				<option>seashell</option>
				<option>seashell1</option>
				<option>seashell</option>
				<option>linen</option>
				<option>magenta</option>
				<option>magenta1</option>
				<option>magenta2</option>
				<option>magenta3</option>
				<option>magenta4</option>
				<option>maroon</option>
				<option>maroon1</option>
				<option>maroon2</option>
				<option>maroon3</option>
				<option>maroon4</option>
				<option>mediumaquamarine</option>
				<option>mediumblue</option>
				<option>mediumorchid</option>
				<option>mediumorchid1</option>
				<option>mediumorchid2</option>
				<option>mediumorchid3</option>
				<option>mediumorchid4</option>
				<option>mediumpurple</option>
				<option>mediumpurple1</option>
				<option>mediumpurple2</option>
				<option>mediumpurple3</option>
				<option>mediumpurple4</option>
				<option>mediumseagreen</option>
				<option>mediumslateblue</option>
				<option>mediumspringgreen</option>
				<option>mediumturquoise</option>
				<option>mediumvioletred</option>
				<option>midnightblue</option>
				<option>mintcream</option>
				<option>mistyrose</option>
				<option>mistyrose1</option>
				<option>mistyrose2</option>
				<option>mistyrose3</option>
				<option>mistyrose4</option>
				<option>moccasin</option>
				<option>navajowhite</option>
				<option>navajowhite1</option>
				<option>navajowhite2</option>
				<option>navajowhite3</option>
				<option>navajowhite4</option>
				<option>navy</option>
				<option>navyblue</option>
				<option>oldlace</option>
				<option>olivedrab</option>
				<option>olivedrab1</option>
				<option>olivedrab2</option>
				<option>olivedrab3</option>
				<option>olivedrab</option>
				<option>steelblue</option>
				<option>steelblue1</option>
				<option>steelblue2</option>
				<option>steelblue3</option>
				<option>steelblue4</option>
				<option>tan</option>
				<option>tan1</option>
				<option>tan2</option>
				<option>tan3</option>
				<option>tan4</option>
				<option>thistle</option>
				<option>thistle1</option>
				<option>thistle2</option>
				<option>thistle3</option>
				<option>thistle4</option>
				<option>tomato</option>
				<option>tomato1</option>
				<option>tomato2</option>
				<option>tomato3</option>
				<option>tomato4</option>
				<option>turquoise</option>
				<option>turquoise</option>
				</select>
			Align: <select id="align">
				<option>left</option>
				<option>center}</option>
				<option>right</option>
				</select>
		</div>
		<div id="twitter"><a href="https://twitter.com/share" class="twitter-share-button" data-via="henryaj">Tweet</a>
		<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
	</div>
	</section>

	<footer>
		<a href="http://www.makersacademy.com/"><img src="http://www.makersacademy.com/images/logo.png"></a>
		<div>
		<a href="http://www.henrystanley.com/">Henry Stanley</a> built this page on his first day at <a href="http://www.makersacademy.com">Makers Academy</a>.
		</div>
		<div>This page uses <a href="http://images.google.com">Google Image search</a>, <a href="http://ruby-lang.org">Ruby</a>, <a href="http://sinatrarb.com">Sinatra</a>, <a href="https://en.wikipedia.org/wiki/JavaScript">Javascript</a>, <a href="http://jquery.com">jQuery</a>, <a href="http://w3.org/html">HTML</a> and <a href="http://www.w3.org/Style/CSS/">CSS</a>.
		</div>
	</footer>
</body>

</html>
